* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: #343a40;
  color: white;
}

.home-container {
  position: absolute;
  text-align: center;
  padding: 75px;
  color: white;
  width: 100%;
  height: 1000px;
  background-image: url("assets/background-pic.jpg");
  background-position: center;
  background-size: cover;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-container p {
  font-size: 50px;
}

p {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}

.home-container a {
  margin: 10px;
  color: white;
}

.project-list {
  justify-items: center;
  width: 100%;
  height: 1000px;
  margin-left: 1rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 1.5rem;
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-container {
  width: 100%;
  height: 350px;
}
.project {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}
.project-container:hover .project {
  transform: rotateY(180deg);
}
.project div {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.project-back {
  color: white;
  display: flex;
  flex-direction: column;
  transform: rotateY(180deg);
  justify-content: center;
  align-items: center;
}

#name {
  transition: all 0.5s ease;
}
#name:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
.project-back a {
  transition: all 1s ease;
}
.project-back a:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.project p {
  text-align: center;
}

.project-front {
  border-radius: 1rem;

  background-position: center;
  background-size: cover;
}

.about-container,
.contact-container {
  padding-top: 4rem;
  width: 100%;
  height: 1000px;
  padding-right: 2rem;
  margin-left: 1rem;
}
